@charset "UTF-8";

.task {
    position: fixed!important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: .5rem;
    overflow: hidden;
    transition: .4s;
	width: 16rem; 
	height: 10rem;
	/* box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, .5); */
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .5);
	font: bold 18px D2Coding;
    background-clip: border-box;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6974;
}
.task > div {
	border-bottom: 1px solid rgba(52, 58, 64, .5);
	padding: .25rem;
}
.task > div > * {
	margin: 0;
}
.task > div > input, .task > div > textarea {
	background: transparent !important;
	border: 0;
	padding: .25rem;
	width: 100%;
}
.task > div > input:focus, .task > div > textarea:focus {
	outline:none;
}
.task > div > input[type="date"] {
	border: 0;
	width: 165px;
}
.task > div > input.input-worker, .task > div > input.input-coworker, .task > div > input.input-delegator {
	width: 10rem;
}
.task.task-minimize {
	width: 8rem!important; 
	height: 2rem!important;
}
.task.change {
	box-shadow: 1px 1px 4px 2px #00f, 2px 2px 4px 4px #ff0;
    border-color: #f00;
}

.task.ui-draggable-dragging {
	transition: none;
}
.task.ui-resizable-resizing {
	transition: none;
}
.ui-resizable-handle {
	border-bottom: 0!important;
}

.task-control {
	position: absolute; 
	top: 0; 
	right: 0; 
	margin: 0 .25rem;
	padding-top: .25rem;
	border: 0!important;
	text-shadow: none;
}
.task-minimize-btn {
	color: #343a40;
}
.task-restore-btn {
	color: #343a40;
}
.task-hide-btn {
	color: #343a40;
}
.hide {
	display: none;
}

.task-header {
	cursor: move;
}
.task-category {
}
.task-category > .input-category {
}
.task-title {
}
.task-body {
	height: 100%;
}
textarea.input-content {
	height: 100%;
}
.task-tail {
	border-bottom: 0!important;
}
.task-time {
	font-size: 80%;
    font-weight: 400;
    float: right;
    padding: 0 1rem;
}

.task.YELLOW {
	background-color: rgba(255, 193, 7, 1);
	color: #fff;
	text-shadow: 1px 1px 4px #000;
}
.task.YELLOW > div > input, .task.YELLOW > div > textarea {
	color: #fff;
	text-shadow: 1px 1px 4px #000;
}

.task.RED {
	background-color: rgba(220, 53, 69, 1);
	color: #fff;
	text-shadow: 1px 1px 4px #000;
}
.task.RED > div > input, .task.RED > div > textarea {
	color: #fff;
	text-shadow: 1px 1px 4px #000;
}

@media screen and (max-width: 2559px) {
	.col-task-modified, .col-task-position, .col-task-size, .col-task-color, .col-task-minimized {
		display: none;
	}
}
@media screen and (max-width: 1919px) {
	.col-task-id, .col-task-creator, .col-task-owner, .col-task-created {
		display: none;
	}
}
@media screen and (max-width: 1649px) {
	.col-task-worker, .col-task-coworker, .col-task-delegator {
		display: none;
	}
	td.col-task-content {
		max-width: 400px;
	}
}
@media screen and (max-width: 1200px) {
	.col-task-startd, .col-task-deadline, .col-task-completed {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	.col-task-no, .col-task-category, .col-task-status {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	.col-task-content, .col-task-action {
		display: none;
	}
}

.col-task-title {
	cursor: pointer;
}
.col-task-content {
	max-width: 600px;
	width: inherit;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
}

thead:not(:first-child) th {
    padding-top: 1.5rem;
}