@charset "UTF-8";

.task {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 0;
    border-radius: .25rem;
    margin: .5rem;
    overflow: hidden;
    transition: .4s;
	width: 16rem; 
	height: 10rem;
	/* box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, .5); */
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .5);
	font: bold 18px HYPMokGak;
    background-clip: border-box;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6974;
}
.task.task-minimize {
	width: 8rem!important; 
	height: 2rem!important;
}
.task.ui-draggable-dragging {
	transition: none;
}
.task.ui-resizable-resizing {
	transition: none;
}
.task-control {
	position: absolute; 
	top: 0; 
	right: 0; 
	margin: 0 .25rem;
	padding-top: .25rem;
}
.task-minimize-btn {
	color: #343a40;
}
.task-restore-btn {
	color: #343a40;
	display: none;
}
.task-delete-btn {
	color: #343a40;
}
.task-header {
	padding: .25rem;	
	text-shadow: 1px 1px 4px #fff;
}
.task-title {
	margin: 0;
	border-bottom: 1px solid #dee2e6;
	border-color: #343a40;
	cursor: move;
}
.task-body {
	padding: .25rem;
	flex: 1 1 auto;
}
textarea.task-pad {
	width: 100%; 
	height: 100%;
	border: 0; 
	background: transparent;
	text-shadow: 1px 1px 4px #fff;
}
textarea.task-pad:focus {
	outline:none;
}
.task-tail {
	padding: .25rem;
	text-shadow: 1px 1px 4px #fff;
}
.task-time {
	font-size: 80%;
    font-weight: 400;
    float: right;
    margin: 0 .5rem;
}

.task.yellow {
	background-color: rgba(255, 193, 7, 1);
}
.task.yellow .task-control {
	background-color: rgba(255, 193, 7, .5);
    box-shadow: 0 0 8px 4px rgba(255, 193, 7, .5);
}
.task.yellow .task-header {
	background-color: rgba(255, 193, 7, .25);
}
.task.yellow .task-body {
	background-color: rgba(255, 193, 7, .25);
}
.task.yellow .task-pad {
	background-color: rgba(255, 193, 7, .0125);
}
.task.yellow .task-tail {
	background-color: rgba(255, 193, 7, .25); 
}

.task.red {
	background-color: rgba(220, 53, 69, 1);
}
.task.red .task-control {
	background-color: rgba(220, 53, 69, .5);
    box-shadow: 0 0 8px 4px rgba(220, 53, 69, .5);
}
.task.red .task-header {
	background-color: rgba(220, 53, 69, .25);
}
.task.red .task-body {
	background-color: rgba(220, 53, 69, .25);
}
.task.red .task-pad {
	background-color: rgba(220, 53, 69, .0125);
}
.task.red .task-tail {
	background-color: rgba(220, 53, 69, .25); 
}

@media screen and (max-width: 1680px) {
	th:nth-child(2), th:nth-child(9), th:nth-child(10), td:nth-child(2), td:nth-child(9), td:nth-child(10) {
		display: none;
	}
}
@media screen and (max-width: 1440px) {
	th:nth-child(11), td:nth-child(11) {
		display: none;
	}
}
@media screen and (max-width: 1200px) {
	th:nth-child(6), th:nth-child(7), th:nth-child(8), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	th:nth-child(13), th:nth-child(14), td:nth-child(13), td:nth-child(14) {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	th:nth-child(1), th:nth-child(4), td:nth-child(1), td:nth-child(4) {
		display: none;
	}
}
@media screen and (max-width: 400px) {
	th:nth-child(3), td:nth-child(3) {
		display: none;
	}
}
@media screen and (max-width: 350px) {
	th:nth-child(15), td:nth-child(15) {
		display: none;
	}
}

input[type="date"] {
	width: 190px;
	border: 0;
}